* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#bg{
  transition: all 10s;
}
#bg:hover{
  transition: all 10s;
  transform:translateY(-100px);
}

#nav li{
  transition: all 1s;
}


@media screen and (max-width:640px){


 #navBar{
    display: none;
  }

  #menu-button{
    display: block;
    top: 0;
    right: 0;
    position: absolute;
    margin: 15px;
  }

  #projects>div{
    grid-template-columns: 1fr;
    margin: 0 50px;
    padding: 0;
  }

  .project-bg{
    width: 100%;
    height: 100%;    
    padding: 0;

  }
 
  .project-container{
   padding: 20px;
  }

  .project-container h3{
    padding: 2px;
  }
  #service_card{
    flex-direction: column;
  }
 .contact-list{
   flex-direction: column;
 }

 .about-container{
   flex-direction: column;
 }

 .img-container{
   margin:  10px 0  50px 0;
  align-self: center;
}

}