* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#bg{
  transition: all 10s;
}
#bg:hover{
  transition: all 10s;
  transform:translateY(-100px);
}

#nav li{
  transition: all 1s;
}